
body {
    background: #291628;
    color: #fff;
}
a:hover { text-decoration: none }

.content-area {
    padding-top: 50px;
}

.section-area {
    padding-top: 50px;
}

h4 {
    color: #94b349;
}

h5 {
    color: #2deaf3;
}

.copyright-area-text {
    text-align: center;
    padding: 40px 0;
    color: darkgrey;
    background: #1b061a;
    margin-top: 40px;
    font-size: 12px;
}