/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {

}
a:hover { text-decoration: none }

.heading {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 40px;
    text-align: center;
    background-color: #291628;
    color: #fff;
}

.heading h1 {
    padding: 50px 0;
}

.heading p {
    font-size: 12px;
    color: #ada8a8;
    padding: 0 0 30px;
}

.header-menu {
    height: 100vh;
}

.header-menu ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.header-menu li{
    font-size: 30px;
    padding-bottom: 15px;
    text-decoration: none;
}

.header-menu li a {
    text-decoration: none;
    padding: 20px;
    color: #222;
    padding-left: 0;
}

.header-menu li a:hover {
    color: #af27a7;
    padding-left: 4px;
}

.copyright-area-text {
    text-align: center;
    padding: 40px 0;
    color: darkgrey;
    background: #1b061a;
    margin-top: 40px;
    font-size: 12px;
}

.chapter {
    background: #4a2a48;
    color: #f1efef;
    padding: 10px;
    border-radius: 20px;
    border: 5px solid #4a0a4a;
    margin: 40px 0;
}


